<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Foliwe Fossung</h3>
    <nav class="nav nav-masthead app_nav">
    <%= nav_helper "nav-link" , "span"%> 
    <%= login_in_helper "nav-link"%> <!-- LOCATED IN /helpers/application_helper.rb-->
    </nav>
  </div>
</div>