<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolios</h1>
    <p class="lead text-muted">Programming is like sex. One mistake and you have to support it for the rest of your life but One of my most productive days was throwing away 1000 lines of code. </p>
    <p>
      <a href="#" class="btn btn-primary">Main call to action</a>
      <a href="#" class="btn btn-secondary">Secondary action</a>
    </p>
  </div>
</section>