 
<h2>Who is Foliwe Fossung?</h2>
<hr>
<div class="row">
  <div class="col-md-4">
    <%=image_tag"https://dl.dropboxusercontent.com/s/l1vlr5i8amt2vr0/photo1.jpg", width: 300 ,alt:'Image'%>
  </div>

  <div class="col-md-8">
    <h3>Answer</h3>
    Pabst raclette meh salvia, pinterest schlitz vexillologist. Godard asymmetrical copper mug health goth. Shabby chic poke subway tile bitters keytar tofu artisan authentic, cold-pressed tumblr echo park pork belly pinterest direct trade. Taxidermy succulents echo park, waistcoat subway tile shabby chic austin. Flannel chartreuse four dollar toast craft beer, edison bulb church-key listicle vegan PBR&B put a bird on it tousled lomo. Food truck cred cold-pressed, typewriter 3 wolf moon chillwave YOLO semiotics mustache. Williamsburg man braid vinyl, stumptown pitchfork poutine small batch mumblecore trust fund fashion axe gochujang 3 wolf moon
  </div>
</div>