<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>Via dell'Indipendenza, 45, 40126 Bologna, Italy</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "3208033313" %></p>

    <h3>Email</h3>

    <p><a href="mailto:jordan@devcamp.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2845.7737864078867!2d11.342087650652143!3d44.499301805222316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fd497f13b7877%3A0xd9225079255f2825!2sVia+dell&#39;Indipendenza%2C+45%2C+40126+Bologna%2C+Italy!5e0!3m2!1sen!2suk!4v1489344367085" width="450" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>