<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">“For a long time it puzzled me how something so expensive, so leading edge, could be so useless.  And then it occurred to me that a computer is a stupid machine with the ability to do incredibly smart things, while computer programmers are smart people with the ability to do incredibly stupid things.  They are, in short, a perfect match.”
<p>(Bill Bryson).</p></p>
  <p class="lead">
    <%= link_to "About Me",about_path, class: "btn btn-lg btn-secondary"%>
  </p>
</div>


        
